<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edutech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edutech">
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Startup and Auth Activities -->
        <activity
            android:name=".splashactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authViewModel"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <!-- ProfileActivity was converted to a Fragment and is no longer declared here -->


        <!-- Admin Activities -->
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".admin.CreateScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".admin.CreateAnnouncementActivity"
            android:exported="false" />
        <!-- All other admin screens (ViewStaff, ViewSchedule, etc.) are now Fragments and are NOT declared here -->


        <!-- Teacher Activities -->
        <activity
            android:name=".teacher.TeacherDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.RequestLeaveActivity"
            android:exported="false" />
        <!-- All other teacher screens (ViewSchedule, ViewAnnouncements, etc.) are now Fragments and are NOT declared here -->
        <!-- Add this line for the Notifications screen -->
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />

    </application>

</manifest>
